.main {
    display: flex;
    flex-direction: column;
    gap: 27px;
    .header {
        h6 {
            color: #774ad9;
            font-variant-numeric: lining-nums proportional-nums;
            font-feature-settings: 'liga' off;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 160%; /* 51.2px */
        }
        p {
            color: #696b83;
            font-variant-numeric: lining-nums proportional-nums;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 160%; /* 25.6px */
        }

        .dateContainer {
            display: flex;
            align-items: center;
            gap: 1rem;
            .dates {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.2rem;
                .label {
                    width: 52%;
                    color: #292c4e;
                    font-variant-numeric: lining-nums proportional-nums;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 160%;
                }
                .control {
                    background: #f5f2fc;
                }
                @media screen and (max-width: 767px) {
                    flex-direction: column;
                    justify-content: flex-start;
                }
            }
        }
        @media screen and (max-width: 767px) {
            h6 {
                text-align: center;
            }
            p {
                text-align: center;
            }
        }
    }
    .recomCard {
        display: flex;
        gap: 30px;
    }
    @media screen and (max-width: 767px) {
        padding: 8px 10px;
    }
}
