.main {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
  gap: 5px;
  border-radius: 8px;
  background: #f5f2fc;
  //   box-shadow: 0px 1px 5px 0px #0000001F;
  //   box-shadow: 0px 2px 2px 0px #00000024;
  box-shadow: 0px 3px 1px -2px #00000033;
  align-items: center;
  cursor: pointer;
  .icon {
    width: 56px;
    height: 56px;
  }

  .text {
    text-align: center;
    height: 20px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
  }
}
.selectedCard {
  border: 3px solid #7743dc !important;
}
