// .scss file 
.loginPopUp {
    border-radius: 24px;
    :global(.modal-dialog) {
        max-width: 600px;
        @media (max-width: 575px) {
            max-width: 360px;
            margin: 0 auto;
        }
    }
    :global(.modal-content) {
        border-radius: 24px;
        max-width: 100%;
        width: 100%;
    }
    .modalBox {
        .mainbankBox {
            display: flex;
            gap: 12px;
            padding: 16px 16px 16px 16px;
            @media (max-width: 575px) {
                padding: 16px;
            }
            .modelCloseBtn {
                width: fit-content;
                margin: -50px auto 0 auto;
                background-color: rgb(0 0 0 / 50%);
                border: none;
                border-radius: 100px;
                padding: 0;
                height: 32px;
                width: 32px;
                position: absolute;
                left: 50%;
                top: -10px;
                transform: translate(-50%);
                @media (max-width: 575px) {
                    top: 0;
                }
                &:active {
                    background-color: rgb(0 0 0 / 50%);
                }
                &:focus {
                    background-color: rgb(0 0 0 / 50%);
                }
            }
            .bankImage {
                width: 170px;
                @media (max-width: 575px) {
                    width: 116px;
                }
                img {
                    height: 100%;
                    object-fit: contain;
                    width: 100%;
                }
            }
        }
        .bankText {
            p {
                margin: 0;
                font-size: 14px;
                font-weight: 500;
                @media (max-width: 575px) {
                    font-size: 12px;
                }
            }
            h2 {
                font-size: 20px;
                font-weight: 700;
                line-height: 28px;
                margin: 0;
                @media (max-width: 575px) {
                    font-size: 16px;
                }
            }
        }
    }
    .sliderContain {
        padding: 0 16px 16px 16px;
        border-bottom: 1px solid #cbd5e1;
        @media (max-width: 575px) {
            padding: 0 16px 16px 16px;
        }
        .sliderBox {
            display: flex;
            align-items: center;
            background-color: #f0fdf4;
            padding: 8px 12px;
            border-radius: 8px;
            gap: 8px;
            margin-right: 8px;
            .goldentext {
                p {
                    font-size: 12px;
                    color: #16a34a;
                    font-weight: 500;
                    margin: 0;
                    @media (max-width: 575px) {
                        font-size: 10px;
                    }
                }
            }
        }
    }
    .textwrpBox {
        padding: 16px 16px 16px 16px;
        @media (max-width: 575px) {
            padding: 16px;
        }
        .maintextBox {
            ul {
                min-height: 200px;
                @media (max-width: 575px) {
                    min-height: 180px;
                }
                li {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    padding: 5px 0;
                    font-size: 16px;
                    font-weight: 400;
                    color: #0f172a;
                    @media (max-width: 575px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .bottomtextBox {
        display: flex;
        justify-content: space-between;
        padding: 18px;
        align-items: center;
        border-top: 1px solid #cbd5e1;
        @media (max-width: 575px) {
            padding: 17px 16px;
        }
        .insurerbottomtext {
            a {
                color: #7743dc;
                font-size: 16px;
                font-weight: 600;
                @media (max-width: 575px) {
                    font-size: 12px;
                }
            }
        }
        .insurerbottombtn {
            button {
                background-color: #7743dc;
                border: none;
                color: #fff;
                padding: 16px 16px;
                font-size: 16px;
                font-weight: 600;
                border-radius: 8px;
                @media (max-width: 575px) {
                    font-size: 14px;
                    padding: 8px 12px;
                }
            }
        }
    }
}

.formPopop {
    :global(.form-control) {
        padding: 10px;
        @media (max-width: 575px) {
            font-size: 16px;
        }
    }

    .closeIcon {
        width: fit-content;
        margin: -50px auto 0 auto;
        background-color: rgb(0 0 0 / 50%);
        border: none;
        border-radius: 100px;
        padding: 0;
        height: 32px;
        width: 32px;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        top: 16px;
        @media (max-width: 575px) {
            top: 0;
        }
        &:active {
            background-color: rgb(0 0 0 / 50%);
        }
        &:focus {
            background-color: rgb(0 0 0 / 50%);
        }
    }
    
    .formlabel {
        display: flex;
        gap: 8px;
        .formGroup {
            width: 50%;
            position: relative;
            label {
                font-size: 14px;
                color: #7f818a;
                font-weight: 400;
                position: absolute;
                top: -6px;
                @media (max-width: 575px) {
                    font-size: 12px;
                }
            }

            .timePicker {
                position: relative;
                svg {
                    position: absolute;
                    top: 12px;
                    right: 10px;
                    fill: #7743dc;
                }
            }
        }
        body,
        html {
            font-family: Roboto, sans-serif;
            float: left;
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        .form-md {
            width: 100%;
            text-align: center;
            margin: 32px auto 32px auto;
        }
        .form-md .form-group {
            margin-left: auto;
            margin-right: auto;
            max-width: 320px;
        }
        .form-group {
            margin-bottom: 16px;
            position: relative;
        }
        input {
            position: relative;
            display: block;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.37);
            border-radius: 4px;
            background-color: transparent;
            margin: 0px auto;
            padding: 6px 4px 4px 14px;
            height: 40px;
            outline: none !important;
            font-size: 16px;
            color: rgba(0, 0, 0, 0.85);
            transition: all 0.2s ease-in-out;
            @media (max-width: 575px) {
                padding: 6px 4px 4px 10px;
                font-size: 16px;
            }
        }

        label {
            position: absolute;
            top: 14px;
            left: 12px;
            text-align: left;
            display: inline-block;
            padding: 0 4px;
            height: 15px;
            line-height: 14px;
            font-size: 14px;
            font-weight: 400;
            background: #fff;
            color: rgba(0, 0, 0, 0.5);
            margin: 0px auto;
            cursor: text;
            transition: all 0.15s ease-in-out;
        }
        input:hover,
        input:focus {
            border: 1px solid #000;
        }

        input:valid + label,
        input:focus + label {
            top: -6px;
            color: #7F818A;
            font-weight: bold;
            font-weight: 400;
        }
        .gl-form-asterisk {
            background-color: inherit;
            color: #e32b2b;
            padding: 0;
            padding-left: 3px;
        }
        .gl-form-asterisk:after {
            content: '*';
        }
    }
    .formModel {
        padding: 32px 50px;
        @media (max-width: 575px) {
            padding: 14px 16px;
        }
        .formBox {
            p {
                color: #0f172a;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 8px;
            }
            h2 {
                font-size: 24px;
                font-weight: 600;
                color: #0f172a;
                margin-bottom: 32px;
            }
        }
        .formgroupBox {
            display: flex;
            align-items: baseline;
            gap: 16px;
        }
        p {
            margin-top: 6px;
            color: #475569;
            font-weight: 400;
            font-size: 12px;
            margin-bottom: 0;
        }
        .formGroup {
            margin-top: 20px;
        }
        .lastFrom {
            width: 100%;
            margin-top: 20px;
            position: relative;
            span {
                position: absolute;
                top: 12px;
                font-size: 16px;
                font-weight: 400;
                left: 10px;
            }
            input {
                padding-left: 50px;
            }
        }
        .imageINput {
            display: flex;
            align-items: end;
            gap: 6px;
            span {
                position: inherit;
                color: #16a34a;
                font-weight: 500;
                font-size: 12px;
            }
        }

        .formbottomBtn {
            button {
                background-color: #7743dc;
                color: #fff;
                font-size: 16px;
                font-weight: 600;
                border: none;
                width: 100%;
                padding: 16px 0;
                border-radius: 8px;
                margin-top: 42px;
            }
        }
    }
}

.formGroup {
    flex: 1;
    width: 100%;
    border-radius: 8px;
}

.timePickerPopUp {
    width: 195px !important;
    width: 100%;
    @media (min-width: 1440px){
            max-width: 250px;
    }
}
:global(.rc-time-picker-panel-inner){
    width: 100% !important;
}


:global(.rc-time-picker-panel-input){
    padding: 3px 0;
}

:global(.rc-time-picker-panel-select li){
    padding: 0 !important;
    text-align: center !important;
    font-size: 14px !important;
}


:global(.rc-time-picker-panel-select){
    width: 65px !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: #16a34a;
    fill: #000;
  }