.blogdetails {
    p {
        padding-left: 0.5rem;
        text-align: justify;
    }
    h1,
    h2,
    h3 {
        font-weight: 700;
    }
    h2 {
        color: #fd7350;
    }
    h3 {
        color: #222222b7;
    }
    ul {
        margin-bottom: 1rem;
        padding-left: 1rem !important;
        @media (max-width: 500px) {
            padding-left: 0.3rem !important;
        }
        li {
            padding-left: 1rem !important;
            text-indent: -1.5em;
        }
    }

    ul li:before {
        content: '';
        background: url(../../assets/images/hexagon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 9px;
        height: 11px;
        display: inline-block;
        padding-right: 32px;
    }

    table,
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
        color: #333;
        background-color: #fff;
        margin-bottom: 1rem;
    }

    /* Table Header Styling */
    thead th {
        background-color: #f2f2f2;
        color: #333;
        text-align: left;
        padding: 12px 15px;
        font-weight: bold;
        border-bottom: 2px solid #e0e0e0;
    }

    /* Table Row and Cell Styling */
    tbody tr {
        border-bottom: 1px solid #e0e0e0;
        transition: background-color 0.2s ease;
    }

    tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tbody td {
        padding: 12px 15px;
        text-align: left;
    }

    /* Hover Effect */
    tbody tr:hover {
        background-color: #f1f1f1;
    }
    .redish {
        color: #fd7350;
    }

    @media (max-width: 600px) {
        thead th {
            padding: 5px 7px;
            border-bottom: 2px solid #e0e0e0;
        }

        tbody td {
            padding: 5px 7px;
        }
    }
}
