.main {
    padding-bottom: 2rem;
    .title {
        color: #fd7350;
        border-width: 2px;
        border-style: solid;
        border-image: linear-gradient(to right, #fd7350, rgba(0, 0, 0, 0)) 0 1
            100%;
        padding-bottom: 5px;
        margin: 20px 0 40px;
        font-size: 16px;
        font-weight: 600;
        max-width: 400px;
    }

    .recentText {
        @extend .title;
        margin-top: 70px;
    }

    .divider {
        height: 20px;
    }

    .blogCardRow {
        display: flex;
        gap: 20px;
        flex-flow: row wrap;
        justify-content: space-between; /* Align elements with space between */
    }

    .blogCardCol {
        flex: 1 1 30%; /* Adjust the width for each card */
    }
}

// shimmer effect for the loading screen
.skeleton {
    background-color: #f5f5f5; /* Light base color */
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.skeleton::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, #f5f5f5 25%, #ffffff 50%, #f5f5f5 75%);
    animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
